:root {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: "X"; */

    /* position: relative; */

}

.content {
    /* max-height: 100vh; */
    /* max-width: 100vw; */
    /* position: relative; */
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;
    /* outline: red solid 1px; */
    width: 100vw;
    height:100vh;
    /* margin: auto; */
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;

    &.x-background {
        background-image: url(images/cross-svgrepo-com.svg);
        background-size: 175%;
    }

    &.o-background {
        background-image: url(images/circle-svgrepo-com.svg);
        background-size: 75%;
    }
    &.tie-background {
        background-image: url(images/cross-circle-svgrepo-com.svg);
        background-size: 75%;
    }
}

#current-turn {
    font-size: 15rem;
    font-weight: bolder;

    margin: -4rem 0 -5rem;
    /* outline: red solid; */
}



#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;

    margin: 0 auto;


    --game-line: 2px;
    
    .left-vert,
    .cen-vert {
        border-right: black solid var(--game-line);
    }
    
    .right-vert,
    .cen-vert {
        border-left: black solid var(--game-line);
    }
    
    .top-horz,
    .cen-horz {
        border-bottom: black solid var(--game-line);
    }
    
    .bot-horz,
    .cen-horz {
        border-top: black solid var(--game-line);
    }
}



.game-square {
    /* box-sizing: content-box; */
    
    width: 5rem;
    height: 5rem;
    
    display: grid;
    align-content: center;
    justify-content: center;
    
    font-size: 4rem;
    font-weight: bolder;
    /* color: white; */
}

#reset-btn {
    font-size: x-large;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    /* width: 100vw; */

    align-self: start;
    justify-self: center;
    
    /* margin-top: 2rem; */
    
    z-index: 1;
    &:hover {
        /* background-color: white; */
        /* color: white; */
        /* background-color: black; */

        /* background-color: #D9D9D9; */
        /* outline: solid black 1px; */
        /* border-top: solid black 1px; */
        font-weight: bolder;
    }
}


/* needs hidden classes in html */

[data-center="true"] {
    position: relative;
    --win-bar-width: 400rem;
    

    &[data-win-bar-class="botHorz"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        left: -100rem;
        top: 7rem;
    }
    &[data-win-bar-class="cenHorz"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        left: -100rem;
        top: 2rem;
    }
    &[data-win-bar-class="topHorz"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        left: -100rem;
        top: -3rem;
    }
    &[data-win-bar-class="leftVert"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        rotate: 90deg;
        left: -202.7rem;
    }
    &[data-win-bar-class="cenVert"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;
        
        rotate: 90deg;
        left: -197.6rem;
    }
    &[data-win-bar-class="rightVert"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        rotate: 90deg;
        left: -192.55rem;
    }
    &[data-win-bar-class="forDiag"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        rotate: -45deg;
        left: -195.5rem;
    }
    &[data-win-bar-class="backDiag"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        rotate: 45deg;
        right: -195.5rem;
    }
}

