:root {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    /* debugging */
    /* outline: solid red 1px; */
}

.content {
    display: grid;
    /* puts gameboard dead center */
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;

    /* I like this heigth/width method with <meta name="viewport" content="width=device-width, initial-scale=1.0"> */
    width: 100vw;
    height:100vh;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;

    /* classes for background per turn/winner/tie */
    &.x-background {
        background-image: url(images/cross-svgrepo-com.svg);
        background-size: 175%;
    }

    &.o-background {
        background-image: url(images/circle-svgrepo-com.svg);
        background-size: 75%;
    }
    &.tie-background {
        background-image: url(images/cross-circle-svgrepo-com.svg);
        background-size: 75%;
    }
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    --game-line: 2px;
    
    /* making visual tic tac toe board */
    .left-vert,
    .cen-vert {
        border-right: black solid var(--game-line);
    }
    
    .right-vert,
    .cen-vert {
        border-left: black solid var(--game-line);
    }
    
    .top-horz,
    .cen-horz {
        border-bottom: black solid var(--game-line);
    }
    
    .bot-horz,
    .cen-horz {
        border-top: black solid var(--game-line);
    }
}

.game-square {
    width: 5rem;
    height: 5rem;
    
    display: grid;
    align-content: center;
    justify-content: center;
    
    /* X/O size */
    font-size: 4rem;
    font-weight: bolder;
}

#reset-btn {
    font-size: x-large;
    border: 0;
    background-color: rgba(255, 255, 255, 0);

    align-self: start;
    justify-self: center;
    
    /* adjust to line up win cenVert */
    margin-left: 0.2rem;
    
    z-index: 1;
    &:hover {
        font-weight: bolder;
    }
}

/* win-bar styling */
[data-center="true"] {
    position: relative;

    --win-bar-width: 400rem;    

    /* decided on not putting commom css in &::after. Wanted the bar to be completely there or not */
    &[data-win-bar-class="botHorz"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        left: -100rem;
        top: 7rem;
    }
    &[data-win-bar-class="cenHorz"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        left: -100rem;
        top: 2rem;
    }
    &[data-win-bar-class="topHorz"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        left: -100rem;
        top: -3rem;
    }
    &[data-win-bar-class="leftVert"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        rotate: 90deg;
        left: -202.7rem;
    }
    &[data-win-bar-class="cenVert"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;
        
        rotate: 90deg;
        left: -197.6rem;
    }
    &[data-win-bar-class="rightVert"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        rotate: 90deg;
        left: -192.55rem;
    }
    &[data-win-bar-class="forDiag"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        rotate: -45deg;
        left: -195.5rem;
    }
    &[data-win-bar-class="backDiag"]::after {
        position: absolute;
        
        content: "";
        height: 0.5rem;
        width: var(--win-bar-width);
        background-color: red;

        rotate: 45deg;
        right: -195.5rem;
    }
}